{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous{% endblock %}

{% block body %}
<main id="nous">
	
	<div class="container">
        <h1 class="text-center">Qui sommes-nous</h1>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti similique eos atque neque in. Rerum, illo odit alias, deleniti, earum aliquam dolores quasi totam eius dolor est sunt! Ullam, voluptatum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur perferendis perspiciatis numquam fuga nesciunt quos, error adipisci maiores quam explicabo, dolorem earum, culpa repellendus veritatis eaque sequi ipsa eveniet excepturi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti similique eos atque neque in. Rerum, illo odit alias, deleniti, earum aliquam dolores quasi totam eius dolor est sunt! Ullam, voluptatum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur perferendis perspiciatis numquam fuga nesciunt quos, error adipisci maiores quam explicabo, dolorem earum, culpa repellendus veritatis eaque sequi ipsa eveniet excepturi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti similique eos atque neque in. Rerum, illo odit alias, deleniti, earum aliquam dolores quasi totam eius dolor est sunt! Ullam, voluptatum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur perferendis perspiciatis numquam fuga nesciunt quos, error adipisci maiores quam explicabo, dolorem earum, culpa repellendus veritatis eaque sequi ipsa eveniet excepturi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti similique eos atque neque in. Rerum, illo odit alias, deleniti, earum aliquam dolores quasi totam eius dolor est sunt! Ullam, voluptatum? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur perferendis perspiciatis numquam fuga nesciunt quos, error adipisci maiores quam explicabo, dolorem earum, culpa repellendus veritatis eaque sequi ipsa eveniet excepturi?</p>
	</div>

</main>
{% endblock %}
